@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary: #f02b60;
    --color-primary-hover: #e9678a;
    --color-primary-active: #c82b55;
    --color-secondary: #3c008f;

    --color-font-primary: #1e1e1e;
    --color-font-invert: #ffffff;
    --color-background: #000000;

    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
